@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    background-color: #FEAFC3;
    color: #2D3440; 
    
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
a {
    font-family: inherit;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
}
section{
    display: block;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.general-layout {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}
.main-container{
    flex-grow: 1;
}
.btn {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    background: none;
    border: none;
    border-radius: 26px;
    background-repeat: no-repeat;
}
.btn-transparent{
    background-color: rgba(252, 252, 252, 0.3);
}
  
.btn-transparent:hover {
    background-color: rgba(252, 252, 252, 0.5);
}
  
.btn-transparent:focus {
    background-color: rgba(252, 252, 252, 0.5);
    outline: 2px solid #2D3440;
}
  
.btn-transparent:active {
    background-color: rgba(252, 252, 252, 1);
}
  
.btn-transparent:disabled {
    background: #FCFCFC;
    outline-color: rgba(185, 185, 185, .3);
    color: #2D3440;
    opacity: 0.4;
 }
 .btn-white{
    font-weight: 700;
    color: #2D3440;
    background-clip: padding-box;
    background-color: #FCFCFC;
    text-decoration: none;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
 }
.btn-pink{
    color: #FCFCFC;
    font-weight: 700;
    background-clip: padding-box;
    background-color: #FF2F64;
    outline: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0 4px 12px 1px rgb(45 52 64 / 10%);  
}
.btn-pink:focus-visible, .btn-pink:focus {
    outline: 2px solid #2D3440;
}
  /* hader*/
 
.page-header{
    display: flex;
    align-items: center;
    padding: 24px 15px;    
}

.navigation-logo{
    display: block;
    height: 56px;
    width: 137px;
} 
.logo-img {
    height: 100%;
    width: 100%;
} 
.navigation{
    display: flex;
    flex-wrap: wrap;
    width: 1033px;
    margin: 0 auto;
    align-items: center;
}
.navigation-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 17px; 
}
.navigation-item{
    position: relative;
    line-height: 1;
}
.navigation-item-ctlg{
    padding: 16px 0;
}
.navigation-item-ctlg:hover .navigation-item-inner, .navigation-item:focus-within .navigation-item-inner{
    display: block;
}
.navigation-link:hover{
    background-color: rgba(252, 252, 252, 0.5);
}
.navigation-link:focus-within{
    background-color: rgba(252, 252, 252, 0.5);
    outline: 2px solid #2D3440;
}
.navigation-link:active{
    background-color: rgba(252, 252, 252, 1);
}
.navigation-link {
    height: 100%;
    padding: 8px 16px;
    border-radius: 26px;
    text-decoration: none;
}
.navigation-link-active{
    padding: 8px 16px;
    color: #FCFCFC;
    background-color: #FF2F64;
    border-radius: 26px;
}
.navigation-ctlg{
    left: 0;
    top: 100%;
    padding-bottom: 16px;
    white-space: nowrap;
}
.navigation-item-inner{
    display: none;
    position: absolute;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    background-color: #FCFCFC;
    border-radius: 4px;
    z-index: 100;
}
.navigation-in-ctlg-item:first-child{
    position: relative;
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-weight: 700;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.navigation-in-ctlg-item:first-child:after{
    position: absolute;
    display: block;
    content: "";
    width: 106px;
    height: 1px;
    bottom: 0;
    background-color: #B9B9B9;
}
.navigation-in-ctlg-item:not(:first-child):focus, .navigation-in-ctlg-item:not(:first-child):focus-visible{
    background-color: #FF7799;
}
.navigation-in-ctlg-item:not(:first-child):hover{
    background-color: #FFCBD8;
}
.navigation-in-ctlg-item:not(:first-child):active{
    background-color: #FF4A78;
    color: #2D3440;
}
.navigation-in-ctlg-item:not(:first-child):active a{
    color: #2D3440;
}
.navigation-catalog-link{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 16px;
}
.navigation-phone{
    font-weight: 700;
    text-decoration: none;
    margin-left: auto;
}
.navigation-item-active:not(:last-child){
    margin-right: 17px;
}
.btn-search{
    background-image: url("../images/loupe.svg");
    background-position: center;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: rgba(252, 252, 252, .3);
    display: inline-block;
}
.navigation-form-search{
    right: 0;
    top: calc(100% + 8px);
    max-width: 356px;
    padding: 24px 16px;
}
.navigation-item-input{
    min-width: 324px;
    padding: 14px 16px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}
.btn-enter{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: regular;
    text-align: left;
    text-decoration: none;
    color: #2D3440;
    border-radius: 26px;
    background-image: url("../images/enter.svg");
    background-color: rgba(252, 252, 252, .3);
    background-position: 18px;
    padding: 6px 18px 6px 40px;
    display: inline-block;
}
.navigation-form-enter{
    top: calc(100% + 8px);
    right: 0;
    min-width: 420px;
    padding: 48px 48px 52px; 
}
.login{
    border: none;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 60px 76px 20px 20px;
    gap: 4px 23px;
} 
.login-label{
    grid-column: 1 / -1;
}
.login-title{
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    grid-column: 1 / -1;
}
.login-input{
    min-width: 324px;
    margin-bottom: 16px;
    padding: 14px 16px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}
.btn-login{
    padding: 12px 32px;
    grid-row: -1 / -3;
}
.login-link{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #2D3440;
    text-decoration: underline;
}
.login-link-password{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.login-link-login{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.btn-basket{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: regular;
    text-align: left;
    text-decoration: none;
    color: #2D3440;
    background-image: url("../images/basket-black.svg");
    border-radius: 26px;
    background-color: rgba(252, 252, 252, 0.3);
    background-position: 18px;
    padding: 6px 18px 6px 40px;
    display: inline-block;
}
.full-basket .btn-basket-full {
    background-image: url("../images/basket-full.png");
}
.btn-basket-full{
    padding: 9px 13px 9px 41px;
    background-position: 18px;
}
.navigation-form-basket{
    right: 0;
    top: calc(100% + 8px);
    min-width: 441px;
    padding: 48px;
}
.basket-text{
    padding: 0 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
}
.full-basket .basket-text{
    margin-bottom: 32px;
    padding: 0;
    text-align: left;
}
.navigation-basket-list{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 64px;
}
.goods{
    display: flex;
    align-items: center;
}
.goods:not(:last-child){
    margin-bottom: 24px;
}
.goods-img{
    margin-right: 16px;
    border-radius: 50%;
    width: 46px;
    height: 46px;
}
.goods-info{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.goods-name{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.goods-number{
    font-size: 14px;
    line-height: 20px;
    color: #B9B9B9;
}
.goods-price{
    margin-left: auto;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.goods-btn{
    position: relative;
    margin-left: auto;
    width: 10px;
    height: 10px;
    background-image: url("../images/x.svg");
}
.navigaion-order-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-order-footer-btn{
    padding: 12px 32px;
}
.navigation-order-footer-total{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
/*pages*/

.gallery{
    position: relative;
    margin-bottom: 75px; 
}
.all-slidders{
    display: flex;
    padding-top: 20px;
    position: relative;
    width: 300%;
}
.slider-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 70px;
    justify-content: space-between;
}
.slider-2, .slider-3{
    visibility: hidden;
}
.slider{
    max-width: 470px;
    margin-right: 63px;
}
.name-ice-title{
    font-size: 36px;
    line-height: 46px;
    font-weight: 900;
    margin-bottom: 24px;
}
.name-ice-description{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 48px;
    width: 414px;
}
.btn-order{
    padding: 12px 34px;
}
.slider-inner-picture, .slider-inner-picture-mini{
    position: relative;
    text-align: center;
}
.slider-inner-picture{
    margin-right: 80px;
}
.slider-inner-picture::before {
    display: block;
    content: "";
    position: absolute;
    width: 312px;
    height: 312px;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    top: calc(50% - 312px/2 + 3px);
    left: calc(50% - 312px/2 + 3px);
}
.slider-inner-picture-mini:not(:last-child) {
    margin-right: 75px;
}
.slider-inner-picture-mini::after{
    left: calc(50% - 66px/2);
    top: calc(50% - 150px/2);
}

.slider-inner-picture-mini::before{
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    top: calc(50% - 100px/2);
    left: calc(50% - 100px/2);
}
.pagination-item-prev, .pagination-item-next{
    position: absolute;
    width: 38px;
    height: 38px;
    top: 46%;
    background-position: center;
    background-repeat: no-repeat;
    outline: 2px solid #FCFCFC;
    border-radius: 50%;
    list-style: none;
}
.pagination-item-prev{
    left: -20px;
    background-color: rgba(252, 252, 252, 0.3);
    background-image: url("../images/arrow-prev.png") 
}
.pagination-item-next{
    right: -25px;
    background-color: rgba(252, 252, 252, 0.3);
    background-image: url("../images/arrow-next.png")
}
.footer-of-slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pagination-mini{
    display: flex; 
    list-style-type: none;
}
.pagination-mini-item:not(:last-child){
    margin-right: 8px;
}
.pagination-link{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(252, 252, 252, 0.3);
}
.pagination-active{
    background-color: #FCFCFC;
}
.footer-social-list{
    display: flex;
    flex-wrap: wrap;
}
.footer-social-item:not(:last-child){
    margin-right: 16px;
}
.footer-social-link{
    display: inline-block;
    width: 24px;
    height: 24px;
    outline: 2px solid rgba(252, 252, 252, 0.2);
    background-position: center;
    box-shadow: 0 4px 12px 1px rgb(45 52 64 / 10%);
}
.footer-social-vk{
    background-image:url("../images/vk.svg")
}
.footer-social-fb{
    background-image:url("../images/fb.svg")
}
.footer-social-insta{
    background-image:url("../images/insta.svg")
}
.gifts{
    margin-bottom: 75px;
    text-align: center;
}
.gifts-title{
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    margin-bottom: 52px;
}
.gift-list{
    display: flex;
    justify-content: space-between;
}
.gifts-part{
    max-width: 570px;
    background-color: #FF7799;
    padding: 40px 209px 38px 40px;
    border-radius: 16px;
    text-align-last: left;
}
.gifts-part:first-child{
    background-image: url("../images/raspberry.png");
    background-repeat: no-repeat;
    background-position: 374px bottom;;
}
.gifts-part:last-child{
    background-image: url("../images/marshmallow.png");
    background-repeat: no-repeat;
    background-position: 331px bottom;
}
.gifts-title-title{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    vertical-align: top;
    color: #2D3440;
    margin-bottom: 16px;
}
.gifts-description{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    vertical-align: top;
    color: #2D3440;
    width: 321px;
    margin-bottom: 33px;
}
.btn-gifts{
    padding: 12px 32px;
}
.product{
    margin-bottom: 80px;
    text-align: center;
   
}
.product-title{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    color: #2D3440;
    margin-bottom: 107px;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 91px 30px;
}
.product-card{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    max-height: 280px; 
    background-color: #FCFCFC;
    border-radius: 8px;
    text-align: center;
    padding: 0 40px 25px 40px;
}
.product-card-image{
    position: absolute;
    border-radius: 50%;
    top: -52px;
    left: 52px;
}
.product-card-link{
    text-decoration: none;
    display: block;
    position: relative;
    text-align: center;
}
.product-card-title {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    vertical-align: top;
    color: #2D3440;
    margin-bottom: 8px;
    padding-top: 132px
}
.product-card-description{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-style: bold;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    color: #565C66;
    margin-bottom: 16px;
}
.footer-of-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.product-card-price{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: bold;
    text-align: left;
    vertical-align: top;
    text-decoration: none;
}
.product-card-button{
    width: 32px;
    height: 32px;    
    background-color: #FF2F64;
    border-radius: 26px;
    background-image: url("../images/basket-white.svg");
    background-position: center;
    box-shadow: 0 4px 12px 1px rgb(45 52 64 / 10%);
}
.advantages{
    background-image: url("../images/pattern-waffle.png");
    background-repeat: no-repeat;
    padding: 24px;
    margin-bottom: 52px;
    border-radius: 16px;
    background-size: cover;
}
.about-advantages {
    background-color: #FCFCFC;
    border-radius: 16px;
    padding: 56px 40px;
    text-align: center;
}
.advantages-title{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    font-style: black;
    text-align: center;
    vertical-align: top;
    margin-bottom: 56px;
}
.advantages-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
    text-align: left;
}
.advantages-point{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-decoration: none;
    color: #565C66;
    padding-left: 64px;
    min-height: 66px;
    background-size: 48px 48px;
    background-repeat: no-repeat;
}
.advantages-ice-cream{
    background-image: url("../images/ice-cream.svg");
}
.advantages-leaf{
    background-image: url("../images/leaf.svg");
}
.advantages-cow{
    background-image: url("../images/cow.svg");
}
.advantages-temp{
    background-image: url("../images/temp.svg");
}
.blog-and-subscription{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.new-post {
    background-image: url("../images/new-post.png");
    max-width: 570px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    padding: 58px 235px 90px 32px;
    background-size: auto;
    box-sizing: border-box;
}
.new-post-text{
    color: #565C66;
    margin-bottom: 12px;
}
.new-post-link{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-style: bold;
    text-align: left;
    color: #2D3440;
    display: block;
    width: 303px;
}
.mailing{
    box-sizing: border-box;
    max-width: 570px;
    min-height: 220px;
    background-image: url("../images/mail.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 16px;
    background-position: center;
    padding: 6px;
}
.mailing-list{
    padding: 26px;
    width: 504px;
    height: auto;
    background-color: #FCFCFC;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 27px;

}
.about-subcription{
    color: #565C66;
    margin-bottom: 42px;
}
.subscription-input{
    color: #b9b9b9;
    font-size: 16px;
    width: 296px;
    margin-right: 25px;
    padding: 13px 16px;
    border: 1px solid #B9B9B9;
    border-radius: 4px
}
.subscription-btn{   
    position: absolute;
    width: 152px;
    height: 44px;
    padding: 12px 32px;
}
.delivery{
    display: grid;
    grid-template-columns: auto 500px;
    gap: 135px;
    align-items: center;
    background-image: url("../images/background-delivery.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 64px 64px 64px 100px;
    margin-bottom: 82px;
}
.delivery-inner{
    padding-top: 8px;
}
.delivery-title{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    margin-bottom: 24px;
}
.delivery-text{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.delivery-form{
    padding: 40px;
    padding-bottom: 42px;
    background: #FCFCFC;
    box-shadow: 0 15px 40px rgb(45 52 64 / 12%);
    border-radius: 8px;
}
.delivery-form-inner{
    display: grid;
    grid-template-columns: 117px 1fr;
    gap: 16px 17px;
}
.delivery-info{
    grid-column: 1 / -1;
    padding: 0;
    margin-bottom: 15px;
}
.delivery-form-name{
    display: block;
    font-weight: 700;
    line-height: 20px;
}
.delivery-form-tooltip{
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    transform: translate(4px, 3px);
    background-image: url("../images/tooltip.svg");
}

.delivery-form-tooltip:hover .delivery-form-tooltiptext,
.delivery-form-tooltip:focus .delivery-form-tooltiptext,
.delivery-form-tooltip:focus-visible .delivery-form-tooltiptext{
    visibility: visible;
}
.delivery-form-tooltip .delivery-form-tooltiptext{
    position: absolute;
    top: -9px;
    left: 150%;
    z-index: 5;
    min-width: 169px;
    padding: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #565C66;
    border: 1px solid #B9B9B9;
    border-radius: 2px;
    background-color: #FFFFFF;
    visibility: hidden;
}
.delivery-form-tooltip .delivery-form-tooltiptext::after{
    content: " ";
    position: absolute;
    top: 15px;
    right: calc(100% - 6px);
    width: 10px;
    height: 10px;
    margin-top: -5px;
    background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent #B9B9B9 #B9B9B9;
    transform: rotate(45deg);
    z-index: 2;
}

.delivery-form-input{
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    padding: 16px 16px 15px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    color: #b9b9b9;
    font-size: 16px;
    line-height: 20px;
}
.delivery-form-input:first-child{
    gap: 16px;
}
.delivery-form-adress{
    grid-column: 1 / -1;
}
.delivery-form-input{
    width: 100%;
    margin-top: 8px;
    padding: 16px 16px 15px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    
}
.delivery-btn{
    margin-top: 8px;
    padding: 12px 33px;
    grid-column: 1 / -1;
    justify-self: center;
}
.contacts{
    background-image: url("../images/background-contacts.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 64px;
    background-size: cover;
}
.contacts-inner{
    width: 262px;
    background: #FCFCFC;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0px 8px 16px rgb(45 52 64 / 12%);
}
.contacts-inner-info{
    font-style: normal;
}
.contacts-text{
    margin-bottom: 12px;
}
.contacts-address{
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 24px;
}
.contacts-phone{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #2D3440
}
.contacts-time{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
}
.feedback-btn{
    padding-top: 13px;
    padding-right: 32px;
    padding-bottom: 13px;
    padding-left: 32px
}
.modal:target{
    display: flex;
    pointer-events: auto;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: none;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}
.modal-window{
    position: relative;
    width: 570px;
    margin: auto;
    padding: 64px;
    background-color: #FCFCFC;
    border-radius: 4px;
}
.modal-window-close{
    position: absolute;
    top: 32px;
    right: 32px;
    width: 12px;
    height: 12px;
}
.modal-window-close::before{
    transform: rotate(45deg);
}
.modal-window-close::after{
    transform: rotate(-45deg);
}
.modal-window-close::before, .modal-window-close::after{
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 11px;
    height: 1.5px;
    background-color: #2D3440;
}
.modal-window-inner{
    display: flex;
    flex-direction: column;
}
.modal-window-title{
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
.modal-window-input{
    width: 100%;
    margin-bottom: 16px;
    padding: 14px 16px;
    font-size: 16px;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    box-sizing: border-box;
}
.window-text{
    min-height: 149px;
    font-family: inherit;
}
.modal-window-btn{
    align-self: flex-end;
    margin-top: 16px;
    padding: 12px 32px;
}
.page-footer{
    width: 1170px;
    display: flex;
    margin-top: 48px;
    margin-bottom: 48px;
}
.footer-social{
    display: flex;
    flex-wrap: wrap;
}
.footer-social-footer{
    margin-right: 326px
}
.footer-info-inner{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0px 25px;
    margin-right: 200px
} 
.footer-info-provider{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.footer-heart{
    position: relative;
    font-weight: 700;
}
.footer-heart::before{
    position: absolute;
    content: "";
    top: 43%;
    left: -22px;
    width: 14px;
    height: 14px;
    background-image: url("../images/heart.svg");
    transform: translateY(-50%);
}

.footer-info-link{
    line-height: 20px;
    font-size: 14px;
}
.about-text{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-style: regular;
    text-align: left;
    vertical-align: top;
    color: #2D3440;
    margin: 0;
}
.footer-copyright{
    width: 193px;
    margin-right: 14px;
}
.htmlacademy-link{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-style: regular;
    text-align: left;
    vertical-align: top;
    color: #2D3440;
}
.copyright-text{
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    margin-top: 7px;
}
/*CATALOG.HTML*/
.inner-header{
    margin-bottom: 39px;
    padding-top: 30px;
}
.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.breadcrumbs-item:not(:last-child){
    margin-right: 9px;
    padding-right: 20px;
    background-image: url(../images/arrow-black.svg);
    background-repeat: no-repeat;
    background-position: right 9px;
    text-decoration: underline;
}
.breadcrumbs-link{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.inner-header-title{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
    color: #2D3440;
}
.product-inner{
    margin-bottom: 56px;
}
.catalog-form{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 99px;
}
.catalog-filter{
    margin-right: 24px;
}
.catalog-filter-title{
    display: inline-block;
    margin-bottom: 8px;
    padding-left: 16px;
}
.select-control{
    background-image: url("../images/arrow-down.svg");
    margin-bottom: 16px;
    padding: 11px 61px 11px 16px;
    border: none;
    background-position: 93% center;
    background-color: rgba(252, 252, 252, .2);
    border-radius: 20px;
    font-family: inherit;
    font-size: inherit;
    appearance: none;
    background-repeat: no-repeat;
}
.range-price{
    display: flex;
}
.range-price-filter{
    padding-left: 0;
}
.range-input{
    width: 26px;
    padding: 0 2px;
    font: inherit;
    text-align: center;
    background-color: transparent;
    border: none;
}
.range-price-toddler{
    padding: 16px 16px;
    background-color: rgba(252, 252, 252, .2);
    border-radius: 20px;
}
.range-toddler{
    width: 164px;
}
.range-scope{
    position: relative;
    height: 2px;
    background-color: rgba(34%, 36%, 40%, 0.3);
    border-radius: 2px;
}
.range-rail{
    position: absolute;
    width: 70px;
    left: 35px;
    height: 2px;
    background-color: #565C66;
}
.range-toggle{
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 6px solid #242424;
    border-radius: 50%;
    cursor: pointer;
}
.toggle-min{
    top: -6px;
    left: -10px;
}
.toggle-max{
    top: -6px;
    right: -10px;
}
.range-toggle:focus-visible{
    outline: 2px solid #242424;
}
.range-toggle:active{
    background: #242424;
    border: none;
}
.range-toggle:hover{
    border-color: #FFFFFF;
    background: #242424;
}
.fat-checkbox{
    display: flex;
    flex-wrap: wrap;
    padding: 8px 2px 9px 20px;
    background-color: rgba(252, 252, 252, .2);
    border-radius: 20px;
}
.fat-checkbox-item:not(:last-child){
    margin-right: 13px;
}
.fat-checkbox-control{
    padding-left: 28px;
}
.fat-control-input{
    position: absolute;
    appearance: none;
}
.fat-control-type{
    position: absolute;
    margin-left: -24px;
    margin-top: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #2D3440;
}
.fat-control-type::before{
    position: absolute;
    content: "";
    display: none;
    left: 23.25%;
    top: 28.25%;
    width: 6px;
    height: 6px;
    background-color: #2D3440;
    border-radius: 50%;
}
.fat-control-input:checked + .fat-control-type::before{
    display: block;
}
.filler-checkbox{
    display: flex;
    flex-wrap: wrap;
    padding: 8px 14px 8px; 
    background-color: rgba(252, 252, 252, .2);
    border-radius: 20px;
}
.filler-checkbox-item-checkbox:not(:last-child){
    margin-right: 16px;
}
.filler-checkbox-control{
    padding-left: 28px;
}
.filler-control-input{
    position: absolute;
    appearance: none;
}
.filler-control-type{
    background-image: url("../images/checkbox.svg");
    position: absolute;
    margin-left: -28px;
    margin-top: 2px;
    width: 16px;
    height: 16px;
}
.filler-control-input:checked + .filler-control-type{
    background-image: url("../images/check-on.svg");
}
.catalog-form-btn{
    align-self: flex-end;
    margin-bottom: 1px;
    padding: 8px 53.5px;
    font-size: 14px;
    font-weight: 700;
    outline: 2px solid #FCFCFC;
    border-radius: 20px;
}
.footer-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.pagination-show-more{
    font-weight: 700;
    color: #2D3440;
    background-clip: padding-box;
    background-color: #FCFCFC;
    outline: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0 4px 12px 1px rgb(45 52 64 / 10%);
    margin-left: 494px;
    padding: 12px 35px;
}
.footer-inner-pagination{
    display: flex;
    align-items: center;
}
.footer-pagination-item{
    margin: 0 2px;
}
.footer-pagination-item:first-child{
    margin-right: 15px;
}
.footer-pagination-prev{
    background-image: url("../images/foot-arrow-prev.svg");
}
.footer-pagination-prev, .footer-pagination-next{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: right 9px;
}
.footer-pagination-link{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
}
.disabled{
    fill: #2D3440;
    opacity: 0.2;
}
.pagination-current, .footer-pagination-link:active{
    background: #FCFCFC;
}
.footer-pagination-next{
    background-image: url("../images/foot-arrow-next.svg");
}
